.data {
  height: 30px;
  min-width: 250px;
  background: slateblue;
  border: 2px solid rgb(248, 244, 244);
  border-radius: 6px;
  text-align: center;
}

.container {
  background: white;
  background-size: cover;
  background-position: center;
}

.body {

  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  padding: 8px;
  border: 1px solid rgba(192, 187, 187, 0.708);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 600px;
  margin: auto;
  margin-top: 5px;
  border-radius: 8px;
}

::placeholder {
  color: white;
  opacity: 1;
}

.submit {
  width: 10%;
  height: 25px;
  background: white;
  border: 2px solid grey;
}

#result {
  color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container{
  overflow-x: hidden;
  }
  .body {
    width: 100%;
    padding: 6px;
  }
}

@media (max-width: 480px) {
  .data {
    min-width: 200px;
  }

  .submit {
    width: 15%;
  }
}